/* === Google Fonts Import (Manrope) === */
/* Importing Manrope font family */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* === Google Fonts Import (Rubik) === */
/* Importing Rubik font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* === Style Variables === */

/* Definition of variables for colors, font families, and font sizes */

:root {

    /* Colors */
    --white: #FFFFFF;
    --dark-blue: #161C2D;
    --primary-orange: #EB7565;
    --primary-blue: #6265EF;


    /* Fonts */
    --font-paragraph: "Manrope", sans-serif;
    --font-title: "Rubik", sans-serif;

    --fonts-size-p: 1.2rem;
    --line-height-p: 1.7;
}


body {
    background-color: var(--white);
    font-family: var(--font-paragraph);
    font-size: 16px;
}


a {
    text-decoration: none;
}


/* === Buttons === */
._btn {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 140px;
    border-radius: 8px;
}

._btn-primary {
    padding: 0.5rem;
    width: 10rem;
    text-align: center;
    border: 1px solid var(--dark-blue);
}

._btn-secondary {
    text-align: center;
    padding: 0.5rem;
    width: 10rem;
    border: 1px solid var(--dark-blue);

}

._btn-meeting {
    padding: 1rem;
    border: 1px var(--dark-blue) solid;
}

._btn-primary:hover,
._btn-secondary:hover,
._btn-meeting:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

/* === HEADER (NavBar) === */
header {
    font-family: var(--font-title);
    margin: 1rem 7rem 2rem;
}

.navbar-text {
    font-weight: 700;
    color: var(--dark-blue);
    transition: transform 1s ease;
}


.nav-link {
    color: var(--dark-blue);
    transition: transform 1s ease;
}


.navbar-text:hover,
.nav-link:hover {
    transform: scale(1.1);
}


/* === Hero Section === */
/* Hero Container */


._hero-txt p {
    line-height: var(--line-height-p);
    font-size: var(--fonts-size-p);
    text-align: justify;
    padding: 0.5rem 0;
}

._hero-txt h1 {
    font-size: 4rem;
}

._hero-img {
    width: 350px;
    border-radius: 100%;
    height: auto;
    margin-left: 5rem;
    margin-top: 5rem;
}


/* === Services Section === */
#services {
    text-align: center;
}

#services h1 {
    font-size: 3.5rem;
    padding: 1.5rem;
}


._card-container {
    padding: 1.5rem 1rem;
}

.card {
    border-radius: 40px;
    text-align: center;
    transition: transform 1s ease;
}

.card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 1rem;
    place-self: center;
}

.card:hover {
    transform: scale(1.06);
}

._service-call-to-action {
    padding: 5rem;
}

._service_call_to_action_text h2 {
    text-align: justify;
    padding: 0.5rem 0;
}

._service_call_to_action_text p {
    font-size: var(--fonts-size-p);
    line-height: var(--line-height-p);
    text-align: justify;
    padding: 0.5rem 0;
}

._service_button {
    margin-top: 60px;
}


._attribution {
    font-size: 0.7rem;
}

/* === About Me Section === */

._section-about-me p {
    font-size: var(--fonts-size-p);
    line-height: var(--line-height-p);
}

._section-about-me h1 {
    font-size: 4rem;
}

._section-about-me img {
    border-radius: 50%;
}

/* === FAQ SECTION === */
.container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}

._section-FAQ {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 5rem;
}

._FAQ-text h1 {
    font-size: 3rem;
    text-align: left;
    line-height: 1.5;
}

._section-FAQ .row .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
}

._FAQ-text p {
    text-align: left;
    line-height: var(--line-height-p);
}


.accordion-body {
    color: var(--dark-blue);
    text-align: justify;
}

.content-FAQ h5 {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.content-FAQ ion-icon {
    display: flex;
    position: relative;
    top: 1.9rem;
    right: 2.7rem;
}

ion-icon {
    color: #EB7565;
}

._FAQ {
    margin-left: 3rem;
}


/* === CONTACT ME SECTION === */
._section-contact-me {
    text-align: center;
    padding: 5rem;
}

._section-contact-me ion-icon {
    color: var(--dark-blue);
}


._contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem;
}

._contact-info h5 {
    font-size: 1.6rem;
    line-height: 2.5;
}

._contact-info p {
    font-size: var(--fonts-size-p);
    line-height: var(--line-height-p);
}


._section-contact-me h1 {
    font-size: 3rem;
    line-height: 2.5;
}


/* ==========
            ANIMATIONS
                ==========*/



.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-35px);
        transform: translateY(-35px);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-35px);
        transform: translateY(-35px);
    }
}
