/* === Google Fonts Import (Manrope) === */
/* Importing Manrope font family */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* === Google Fonts Import (Rubik) === */
/* Importing Rubik font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* === Style Variables === */

/* Definition of variables for colors, font families, and font sizes */

:root {

    /* Colors */
    --background-color: #FFFFFF;
    --secondary-color: #161C2D;
    --primary-orange: #EB7565;
    --primary-blue: #6265EF;
    --error-red: #EF4444;

    /* Fonts */
    --font-paragrafh: "Manrope", sans-serif;
    --font-title: "Rubik", sans-serif;
}


body {
    background-color: var(--background-color);
    font-family: var(--font-paragrafh);
    font-size: 16px;
}


/* === Buttons === */

._btn-primary {
    background-color: var(--secondary-color);
    color: white;
    width: 140px;
    border-radius: 8px;
    height: 40px;
}

._btn-secondary {
    background-color: var(--secondary-color);
    color: white;
    width: 140px;
    border-radius: 8px;
    height: 60px;
}

._bt-meeting {
    background-color: var(--secondary-color);
    color: white;
    width: 160px;
    border-radius: 8px;
    height: 55px;
}

._btn-primary:hover,
._btn-secondary:hover,
._bt-meeting:hover {
    background-color: #F8F8F8;
    color: #161C2D;
}

/* === HEADER (NavBar) === */

header {
    font-family: var(--font-title);
    margin: 20px 180px 20px;
}

.navbar-text {
    font-weight: 700;
    color: var(--secondary-color);
    transition: transform 1s ease;
}


.nav-link {
    color: var(--secondary-color) !important;
    transition: transform 1s ease;
}


.navbar-text:hover {
    transform: scale(1.1);
}

.nav-link:hover {
    transform: scale(1.2);
}


/* === Hero Section === */
/* Hero Container */

main {
    padding-top: 2rem;
}

._hero-txt {
    margin-left: 3rem;
    margin-top: 1rem;
}

._hero-txt p {
    line-height: 2.5;
    font-size: 1.2rem;
}

._hero-txt h1 {
    font-size: 4rem;
}

._hero-img {
    width: 350px;
    border-radius: 100%;
    height: auto;
    margin-left: 5rem;
    margin-top: 5rem;
}


/* === Services Section === */

._section-services {
    padding-top: 2.5rem;
    text-align: center;
}

._section-services h1 {
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-family: var(--font-title);
}

.card {
    transition: transform 1s ease;
    border-radius: 40px !important;

}

.card img {
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    padding: 1rem;
    justify-self: center;
    align-self: center;
}

.card:hover {
    transform: scale(1.06);
}

._service-call-to-action {
    margin-top: 5rem;
}

.line-break {
    height: 2px;
    background-color: grey;
}

._section-services .row {
    padding-bottom: 4.5rem;
}

/* === About Me Section === */

._section-about-me {
    text-align: center;
}


._section-about-me h1 {
    font-size: 4rem;
    padding-bottom: 1.5rem;
}

._section-about-me .row {
    padding-bottom: 2.5rem;
}

._section-about-me img {
    border-radius: 50%;
}

/* === FAQ SECTION === */

.container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}

._section-FAQ {
    background-color: #161C2D;
    color: #FFFFFF;
    padding: 6.5rem;
}

._FAQ-text h1 {
    font-size: 3rem;
    text-align: left;
}

._section-FAQ .row .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
}

._FAQ-text p {
    text-align: left;
}

.accordion-header {
    border-radius: 30px !important;
}

.accordion-body {
    color: black !important;
    text-align: justify;
}

.content-FAQ {
    padding-left: 1.5rem;
}


.content-FAQ h5 {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.content-FAQ ion-icon {
    display: flex;
    position: relative;
    top: 1.9rem;
    right: 2.5rem;
}

ion-icon {
    color: #EB7565;
}

._FAQ {
    margin-left: 3rem;
}

